<h2>Success!</h2>

<br>

<p>You've entered the following beer with your own personalized review into the database:</p> 

<ul>
<li><strong><%= "ID - #{@beer.id}" %></strong></li> 
<li><strong><%= "Beer Name - #{@beer.beer}" %></strong></li> 
<li><strong><%= "Style - #{@beer.style_id}" %></strong></li> 
<li><strong><%= "Color - #{@beer.color}" %></strong></li> 
<li><strong><%= "IBUs - #{@beer.ibu}" %></strong></li> 
<li><strong><%= "ABV - #{@beer.abv}%" %></strong></li> 
<li><strong><%= "Brewery - #{@beer.brewery_id}" %></strong></li>
<li><strong><%= "Review - #{@beer.review}" %></strong></li>
<li><strong><%= "Date - #{@beer.date}" %></strong></li>
</ul>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage">Click here to return to the main homepage</a></p>
</div>