<p><em><h1>Belgian Dark Strong Ale</h1></em></p>
<br>
<br>
<div>
  <h3>Color</h3>
  <em>Amber to Dark Brown</em>
</div>

<br>

<div>
  <h3>Perceived Bitterness</h3>
  <em>Low: 20 - 35 IBUs</em>
</div>

<br>

<div>
  <h3>Alcohol</h3>
  <em>High to Very High Alcohol Content: 8 - 11% ABV</em>
</div>

<br>

<div>
  <h3>Flavor and Balance</h3>
  <em>A bit of a catchall category for strong, dark Belgian beers, this is where so-called "quadruple" beers       are classified.</em>
</div>

<br>

<div>
  <h3>Related Styles</h3>
  <em>Belgian Dubbel</em>  
</div>

<br>

<div>
  <h3>Beer Reviews</h3>
    <% if @beer_style.length == 0 %>
      <em><%= "There have been no beers entered for this style." %></em>
    <% else %>
    <% @beer_style.each do |b| %>
      <% s_name = DATABASE.execute("SELECT style FROM styles WHERE id = #{b.style_id}") %>
      <% style_name = s_name[0].values[0] %>
      <% b_name = DATABASE.execute("SELECT brewery FROM breweries WHERE id = #{b.brewery_id}") %>
      <% brewery_name = b_name[0].values[0] %>
      <em><h4><%=b.beer%></h4>  
        <ul>
          <li><%= "Style - #{style_name}" %></li> 
          <li><%= "Color - #{b.color}" %></li> 
          <li><%= "IBUs - #{b.ibu}" %></li> 
          <li><%= "ABV - #{b.abv}%" %></li>
          <li><%= "Brewery - #{brewery_name}" %></li>   
          <li><%= "Review - #{b.review}" %></li>
          <li><%= "Date - #{b.date}" %></li></em>
        </ul>
      <% end %>
    <% end %>
</div>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage">Click here to return to the main homepage</a></p>
</div>