<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  List All Beers and Reviews  <img                src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<br>

<% @beer.each do |b| %>
    <% s_name = DATABASE.execute("SELECT style FROM styles WHERE id = #{b.style_id}") %>
    <% style_name = s_name[0].values[0]  %>
    <% b_name = DATABASE.execute("SELECT brewery FROM breweries WHERE id = #{b.brewery_id}") %>
    <% brewery_name = b_name[0].values[0]  %>
    <h4> <%= b.beer %> </h4>  
    <ul> 
      <li><%= "Style - #{style_name}" %></li> 
      <li><%= "Color - #{b.color}" %></li> 
      <li><%= "IBUs - #{b.ibu}" %></li> 
      <li><%= "ABV - #{b.abv}%" %></li> 
      <li><%= "Brewery - #{brewery_name}" %></li>
      <li><%= "Review - #{b.review}" %></li>
      <li><%= "Date - #{b.date}" %></li></em>
    </ul>
    <br>
<% end %>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage">Click here to return to the main homepage</a></p>
</div>