<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Add a Brewery  <img src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>

<div class="style_attributes">
<h2>Please allow 1 - 2 days for approval by the site administrator</h2>

<br>

<p>You have submitted the following new brewery for approval:</p>


<p><strong><em><%= "#{@brewery.place}" %></em></strong></p> 

<br>

<div>
<h3>Information</h3>
  <% @beer.find_by_name("#{@brewery.place}") %>
  <% @beer.locations.each do |location| %>
    <% if location.state == "NE" %>
      <p><strong><%= location.name %></strong></p>
      <p><%= location.street %></p> 
      <p><%= location.city %>,
      <%= location.state %>
      <%= location.zip %></p>
      <p><%= location.phone %></em></p>
      <br>
    <% end %>
 <% end %>
</div>
</div>
<br>

<div class="enter">
  <p><a href="/home" title="To homepage"><u>Click Here To Return To The Main Homepage</u></a></p>
</div>