<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Search For a Beer  <img src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<div class="style_attributes">
  <% if @beer_name.length == 0 %>
    <h4 class="enter"><%= "Sorry, we could not find your beer. Please try again." %></h4>
  <% else %>
    <% @beer_name.each do |b| %>
        <h4> <%= b.name %> </h4>  
        <ul>
          <li><%= "ID - #{b.id}" %></li> 
          <li><%= "Style - #{b.style.category}" %></li> 
          <li><%= "Color - #{b.color}" %></li> 
          <li><%= "IBUs - #{b.ibu}" %></li> 
          <li><%= "ABV - #{b.abv}%" %></li> 
          <li><%= "Brewery - #{b.breweries_comma_separated}" %></li>
          <li><%= "Review - #{b.review}" %></li>
          <li><%= "Date - #{b.date}" %></li></em>
        </ul>
        <br>
    <% end %>
  <% end %>    
</div>

<br>

<div class="enter">
  <p><a href="/home" title="To homepage"><u>Click Here To Return To The Main Homepage</u></a></p>
</div>