<div class="top">
  <h1><em><img src="/hop1.gif" width="50" height="50" alt="Hop"/>  Search For a Beer  <img src="/hop1.gif" width="50" height="50" alt="Hop"/></h1>
</div>

<br>
<div class="style_attributes">
<% @beer_name.each do |b| %>
    <h4> <%= b.name %> </h4>  
    <ul>
      <li><%= "ID - #{b.id}" %></li> 
      <li><%= "Style - #{b.style_id_to_name}" %></li> 
      <li><%= "Color - #{b.color}" %></li> 
      <li><%= "IBUs - #{b.ibu}" %></li> 
      <li><%= "ABV - #{b.abv}%" %></li> 
      <li><%= "Brewery - #{b.brewery_ids_to_name(b.brewery_id)}" %></li>
      <li><%= "Review - #{b.review}" %></li>
      <li><%= "Date - #{b.date}" %></li></em>
    </ul>
    <br>
<% end %>
</div>
<br>

<div class="enter">
  <p><a href="/home" title="To homepage">Click here to return to the main homepage</a></p>
</div>